* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #008789;
  color: #fff;
}

img {
  width: 200px;
}

.content {
  max-width: 750px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.header .title h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.header .title {
  margin-left: 4rem;
}

.section {
  padding: 0 1rem;
}

.qcard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 2rem;
}

.scanqcard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
}

.btn {
  background: #2097ea;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
}

.section span {
  font-size: 1.6rem;
}

footer {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

@media (max-width: 400px) {
  .header {
    padding: 1rem;
    display: block;
  }

  .header .title {
    margin-left: 1rem;
  }

  .header .title h2 {
    font-size: 1.7rem;
    text-align: center;
  }
  img {
    width: 80px;
  }

  .section {
    margin-bottom: 8rem;
    padding: 0 2rem;
  }

  .logo {
    text-align: center;
  }

  .qcard span,
  .scanqcard span {
    font-size: 1.3rem;
    display: block;
  }

  .qcard,
  .scanqcard {
    display: block;
  }

  .btn {
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.8rem;
  }
}
